#navbar {
    background-color: #989898;
    width:100%;
    position: relative;
    float:left;
    border-radius: 0px 0px 30px 30px;
}
#navbar li {
    list-style-type: none;
    float:left;
    position: relative;
    right:50%;
    border-radius: 10px 10px 0px 0px;
}

#navbar ul li a {
    text-decoration: none;
    margin-top: 0px;
    color:black;
    padding:15px;
    display: block;
}
#navbar ul {
    margin: 0;
    padding:0;
    float:left;
    position: relative;
    left:50%;
}
#navbar ul li:hover {
    background-color: #303030;
}
#onsite {
    background-color: lightgrey;
}
#title {
    clear:both;
    padding-top: 15px;
}
section {
    padding: 15px;
    overflow: hidden;
}
body {
    background-color: lightgrey;
}

#emu {
    width:100%
}
#emu section {
    background-color: white;
    border-color: white;
    border-radius: 20px;
    margin: 20px 70px 20px 70px;
    overflow: hidden;
}
#emu img {
    float:left;
    margin-right:50px;
}

#emu h4 p {
    display:block;
}

#emucontent {
    display:block;
    margin: 2px 0 0 0;

}


#emu ul  {
    display:block;
    margin: 2px 0 0 0;
}
#opening {
    padding: 5px 25px;
    clear:both;
    padding-left: 5%;
}
#closing {
    padding: 5px 25px;
}
footer {
    padding:15px;
    text-align: center;
    clear:both;
    background-color: white;
    border-radius: 30px 30px 0 0;
    margin-top: 10px;
}

#resume {
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    width: 70%;
    margin: auto;
}

#intro {
    margin: 20px;
    right:50%;
    width:40%;
    float:left;
}

#title1 {
    text-align: center;
    clear:both;
    padding-top: 20px;
}

#laytwo {
    clear:both;
    background-color: #F8F8F8;
    margin: 20px;
    border-radius: 30px 30px 30px 30px;
}





img {
    max-width: 100%;
    max-height: 100%;
}
.textgroup {
    padding-top: 4em;
}

#about {
    background-color: white;
    overflow: hidden;
    border-radius: 200px 0px 0px 200px;
    margin: 0 0 0 5%;
    float:right;
    padding: 30px;
    height: 20em;
}
#about img {
    float:left;
    padding-right: 4em;
}

#interest {
    background-color: white;
    overflow: hidden;
    border-radius: 0px 200px 200px 0px;
    margin: 0 5% 5% 0;
    float:left;
    height: 20em;
}
#interest img {
    float:right;
    padding-left: 4em;
}

#visualbox1 {
    background-color: white;
    border-radius: 200px 0px 0px 0px;
    width: 10%;
    padding-top: 60px;
    position: relative;
    float:right;
}
#visualbox2 {
    background-color: white;
    border-radius: 200px 0px 0px 0px;
    width: 20%;
    padding-top: 60px;
    position: relative;
    float:right;
    clear:both;
}
#visualbox3 {
    background-color: white;
    border-radius: 0px 200px 0px 0px;
    width: 10%;
    padding-top: 60px;
    position: relative;
    float:left;
}
#visualbox4 {
    background-color: white;
    border-radius: 0px 200px 0px 0px;
    width: 20%;
    padding-top: 60px;
    position: relative;
    float:left;
    clear:both;
}





#intropage {
    padding:5px;
    padding-left: 5%;
    clear:both;
}

#pic img {
    display:block;
    border-radius: 20px;
    margin: 10px auto 10px auto;
}
